[submodule "SuperviseParticipant"]
	path = SuperviseParticipant
	url = https://github.com/pns-isa-devops-1819/SuperviseParticipant
[submodule "BankService"]
	path = BankService
	url = https://github.com/pns-isa-devops-1819/BankService
[submodule "PlanCeremony"]
	path = PlanCeremony
	url = https://github.com/pns-isa-devops-1819/PlanCeremony
[submodule "GetGraduated"]
	path = GetGraduated
	url = https://github.com/pns-isa-devops-1819/GetGraduated
[submodule "CommunicateWithHost"]
	path = CommunicateWithHost
	url = https://github.com/pns-isa-devops-1819/CommunicateWithHost
[submodule "Pay"]
	path = Pay
	url = https://github.com/pns-isa-devops-1819/Pay
[submodule "UniversityService"]
	path = UniversityService
	url = https://github.com/pns-isa-devops-1819/UniversityService
[submodule "OrganisationWebService"]
	path = OrganisationWebService
	url = https://github.com/pns-isa-devops-1819/OrganisationWebService
[submodule "MailService"]
	path = MailService
	url = https://github.com/pns-isa-devops-1819/MailService
[submodule "AlumnWebService"]
	path = AlumnWebService
	url = https://github.com/pns-isa-devops-1819/AlumnWebService
[submodule "ClientCompta"]
	path = ClientCompta
	url = https://github.com/pns-isa-devops-1819/ClientCompta
[submodule "PayWebService"]
	path = PayWebService
	url = https://github.com/pns-isa-devops-1819/PayWebService.git
